# IDE
.idea

# Local cache
**/.terraform/

# Logs
crash.log
crash.*.log

# Lokaler State
*.tfstate
*.tfstate.*

# Variablendateien
*.tfvars
*.tfvars.json

# Override-Dateien
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lokaler Cache
**/.terraform/*

# CLI-Konfiguration
.terraformrc
terraform.rc