[defaults]
inventory          = ./inventories/homelab.yml
host_key_checking  = True
remote_user        = ansible
private_key_file   = /home/ansible/.ssh/id_ed25519
forks              = 5
roles_path         = /home/ansible/ansible/roles
stdout_callback = ansible.builtin.default
callback_result_format = yaml
deprecation_warnings = False
interpreter_python = auto_silent
callback_plugins = ./callback_plugins
callbacks_enabled = ntfy

[ssh_connection]
pipelining = True